[submodule "src/convenience-pkgs"]
	path = src/convenience-pkgs
	url = https://github.com/JenniferBuehler/convenience-pkgs.git
[submodule "src/gazebo-pkgs"]
	path = src/gazebo-pkgs
	url = https://github.com/JenniferBuehler/gazebo-pkgs.git
[submodule "src/general-message-pkgs"]
	path = src/general-message-pkgs
	url = https://github.com/JenniferBuehler/general-message-pkgs.git
[submodule "src/moveit-pkgs"]
	path = src/moveit-pkgs
	url = https://github.com/JenniferBuehler/moveit-pkgs.git
[submodule "src/rqt_joint_trajectory_plot"]
	path = src/rqt_joint_trajectory_plot
	url = https://github.com/tork-a/rqt_joint_trajectory_plot.git
[submodule "src/pal_msgs"]
	path = src/pal_msgs
	url = https://github.com/pal-robotics/pal_msgs.git
[submodule "src/humanoid_msgs"]
	path = src/humanoid_msgs
	url = https://github.com/ahornung/humanoid_msgs.git
