<?xml version="1.0"?>
<launch>
    <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" output="screen" 
    args="-sdf -database gear_part -model gear_part -x 0.6 -y -0.2 -z 1.1 "/>

    <node pkg="gazebo_test_tools" type="fake_object_recognizer_cmd" name="fake_object_recognizer_cmd" output="screen" 
    args="gear_part 1" /> 

</launch>
